@model List<ChilLaxFrontEnd.Models.DTO.CartDTO>
@{
    ViewData["Title"] = "Details";
}
<style>
    .productimg{
        height: 150px;
    }
    .td_txt{
        height: 150px;
        line-height: 100px;
    }
</style>


<div>
    <h4>購物車</h4>
    <hr />
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>商品圖片</th>
                <th>商品名稱</th>
                <th>商品價格</th>
                <th>商品數量</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="productimg" src="https://localhost:44385/assets/images/@item.Product?.ProductImg">
                    </td>
                    <td>
                        <div class="td_txt">
                            @item.Product?.ProductName
                        </div>
                    </td>
                    <td>
                        <div class="td_txt">
                            @item.Product?.ProductPrice
                        </div>
                    </td>
                    <td>
                        <div class="td_txt">
                            @item.Cart?.CartProductQuantity
                        </div>
                    </td>
                    <td>
                        <div>
                            <button onclick="deleteCart(this.value)" value="@item.Cart?.ProductId" class="btn">刪除</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<button onclick="Checkout()">結帳</button>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{

<script>
    const baseAddress = "https://localhost:7189"
    
        function deleteCart(productId) {
        $.ajax({
            type:"GET",
                url: `${baseAddress}/Carts/Delete/${productId}`
        }).done(data =>{
            alert("刪除成功");
        }).fail(err => {
            alert(err.statusText);
        });
    };

</script>
}