@model ChilLaxFrontEnd.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => modelItem.ProductImg)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ProductImg)" />    @*圖片*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)            @*名稱*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)      @*簡介*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)            @*價格*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductQuantity)            @*庫存*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)                          @*內容*@
        </dd>
    </dl>
</div>
