@model IEnumerable<ChilLaxFrontEnd.Models.DTO.ProductsPagingDTO>

@{
    ViewData["Title"] = "List";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="~/assets/css/product_css/product_index2.css" rel="stylesheet" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
          rel="stylesheet" />

    <!-- java script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" />

    <!-- Bootstrap -->
    <link href="~/assets/css/product_css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-beJoAY4VI2Q+5IPXjI207/ntOuaz06QYCdpWfWRv4lSFDyUSqsM0W+wiAMr2I185" crossorigin="anonymous"> -->
    <!-- Slick -->
    <link href="~/assets/css/product_css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/product_css/slick-theme.css" rel="stylesheet" />

    <!-- nouislider -->
    <link href="~/assets/css/product_css/nouislider.min.css" rel="stylesheet" />

    <!-- Font Awesome Icon -->
    <link href="~/assets/css/product_css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom stlylesheet -->
    <link href="~/assets/css/product_css/style.css" rel="stylesheet" />
}


<!-- p_container start -->
<div class="p_container">
    <!-- row -->
    <div class="p_row">
        <!-- 電商導覽列 -->
        <!-- black-nav -->
        <div class="black-nav">
            <!-- wrap -->
            <div class="wrap">

                <!-- SEARCH BAR start -->
                <div class="col-md-6">
                    <div class="header-search">
                        @using (Html.BeginForm("List", "Product", FormMethod.Get))
                        {
                            @Html.TextBox("txtKeyword", null , new { style = "width: 500px; height:40px; margin-left: 160px; border-radius: 40px 40px 40px 40px; color: navy; font-weight: 900;" })

                            <input class="search-btn" type="submit" value="Search" float: right />

                        }
                    </div>
                </div>
                <!-- /SEARCH BAR over -->
                <!-- 喜好商品、購物車 -->
                <ul class="black-nav-right">
                    <li class="like">
                        <a href="#">
                            <img src="~/assets/images/heart1.png" />
                            <i>喜好商品（0）</i>
                        </a>
                        <div id="like-list" class="like-list" style="display:none;">
                            @*有喜歡的商品嗎？點擊愛心收藏起來吧♥*@
                        </div>
                    </li>
                    <li class="cart">
                        <a asp-action="Details" asp-controller="Carts">
                            <img src="~/assets/images/icons8-cart.gif" />
                            <i>購物車（@Model.FirstOrDefault().carts.Count()）</i>
                        </a>
                        <div class="cart-list">
                            購物車內還沒有東西，趕緊點選商品加入購物車吧！
                            @*@using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                int count = 0;
                                @foreach (var cartItem in Model.SelectMany(c => c.carts))
                                {
                                    count++;
                                    <input type="hidden" name="ProductId" value="@cartItem.ProductId" id="PId" />
                                    <input type="hidden" name="MemberId" value="@cartItem.MemberId" id="MId" />
                                    <img src="~/assets/images/@Html.DisplayFor(modelItem => cartItem.ProductImg)" class="card-img-top img-fluid  mx-auto d-block" style="width: 30px; height: 60px;">
                                    @Html.DisplayFor(modelItem => cartItem.ProductName)
                                    @Html.DisplayFor(modelItem => cartItem.CartProductQuantity)

                                }
                            }*@
                        </div>
                    </li>
                </ul>
            </div>
            <!-- wrap -->
        </div>
        <!-- black-nav -->
    </div>
    <!-- row over -->
</div>
<!-- container over -->
<!-- Top Sale商品 -->
<section class="hero-section">
    <div class="top-left-text" style="padding-top: 80px;"><p>Top Sale 熱銷商品</p></div>  <!-- 30 + header的高度 -->
    <div class="top_card-grid">
        <div class="top_card">
            <a href="https://localhost:5000/Product/AddToCart/12">
                <div class="top_card__background"></div>
                <div class="top_card__content">
                    <p class="top_card__category">Top One</p>
                    <h3 class="top_card__heading">香氛蠟燭</h3>
                    <img style="height:250px; width:250px" src="~/assets/images/香氛蠟燭.jpg" />
                </div>
            </a>
        </div>
        <div class="top_card">
            <a href="https://localhost:5000/Product/AddToCart/17">
                <div class="top_card__background"></div>
                <div class="top_card__content">
                    <p class="top_card__category">Top Two</p>
                    <h4 class="top_card__heading">療癒仙人掌擴香石</h4>
                    <img style="height:250px; width:250px" src="~/assets/images/盆栽擴香石.jpg" />
                </div>
            </a>
        </div>
        <div class="top_card">
            <a href="https://localhost:5000/Product/AddToCart/9">
                <div class="top_card__background"></div>
                <div class="top_card__content">
                    <p class="top_card__category">Top Three</p>
                    <h3 class="top_card__heading">舒壓按摩小物</h3>
                    <img style="height:250px; width:250px" src="~/assets/images/舒壓按摩小物.jpg" />
                </div>
            </a>
        </div>
        <div class="top_card">
            <a href="https://localhost:5000/Product/AddToCart/7">
                <div class="top_card__background"></div>
                <div class="top_card__content">
                    <p class="top_card__category">Top Four</p>
                    <h3 class="top_card__heading">水豚君擺飾</h3>
                    <img style="height:250px; width:250px" src="~/assets/images/裝飾擺設.jpg" />
                </div>
            </a>
        </div>
        <div class="top_card">
            <a href="https://localhost:5000/Product/AddToCart/4">
                <div class="top_card__background"></div>
                <div class="top_card__content">
                    <p class="top_card__category">Top Five</p>
                    <h7 class="top_card__heading">流沙畫小夜燈</h7>
                    <img style="height:250px; width:250px" src="~/assets/images/3d流沙畫小夜燈.jpg" />
                </div>
            </a>
        </div>
    </div>
</section>
<!-- Top Sale商品 over -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- 類別分類 -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">所有商品</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1" class="no-underline">所有商品</a>
                            </li>

                            @foreach (var category in Model.FirstOrDefault().ProdCategory)
                            {
                                <li>
                                    <a data-toggle="tab" href="#tab1" class="no-underline category-link" name="@category" data-category="@category">@category</a>
                                </li>
                            }

                            @*@foreach (var category in Model.SelectMany(p => p.ProdCategory)
                            .Distinct())
                            {
                            <li>
                            <a data-toggle="tab" href="#tab1" class="no-underline" onclick="showCategoryProducts('@category')" name="@category">@category</a>
                            </li>
                            }*@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 類別分類 -->
            <!-- 商品呈現 start-->
            @*  @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))  *@
            <div id="productListContainer" class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    int count = 0;
                    foreach (var item in Model.SelectMany(p => p.ProductsResult))
                    {
                        count++;

                        <input type="hidden" name="ProductId" value="@item.ProductId" id="PId" />

                        <div class="col-md-3 mb-4 thumbnail" style="height: 450px;" data-category="@item.ProductCategory">
                            <a href="@Url.Action("AddToCart", "Product", new { id = item.ProductId })">
                                <img src="~/assets/images/@Html.DisplayFor(modelItem => item.ProductImg)" class="card-img-top img-fluid  mx-auto d-block" style="width: 230px; height: 260px;">
                            </a>

                            <div class="card-body" style="padding: 15px;
">
                                <h4 class="card-title text-center" style="margin-top: 5px;">
                                    @Html.ActionLink(item.ProductName, "AddToCart", new { id = item.ProductId }, new { @class = "no-underline stretched-link text-dark" })
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        @*<button class="add-to-wishlist">*@
                                        <button class="add-to-wishlist" data-product-id="@item.ProductId" data-product-name="@item.ProductName" data-product-icon="@item.ProductImg" data-product-price="@item.ProductPrice">
                                            <i class="fa fa-heart-o"></i><span class="tooltipp">加入喜愛商品</span>
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="product-price" style="text-align:right">$ @Html.DisplayFor(modelItem => item.ProductPrice) 元</h5>
                                    </div>
                                </div>

                                <div class="button-container">
                                    @*
                            <form id="addToCartForm" action="@Url.Action("AddToCart", "Product", new { id = item.ProductId })" method="post" onsubmit="return validateForm()">*@

                                    <div style="font-size: 16px; font-weight: bold" class="qty-label">
                                        <input type="number" name="txtCount" value="1" min="1" style="width:120px ; height:30px" id="@($"PQty{item.ProductId}")" />
                                        數量
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-0 col-md-10">
                                            <button onclick="CreateCart('@item.ProductId')" class="btn btn-default">購買</button>

                                            @* <button onclick="CreateCart(this.value)" value="@item.ProductId" class="btn btn-default"> @Html.ActionLink("購買","List", new { id = item.ProductId }, new { @class = "btn btn-default" })  </button> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @* <!-- 商品呈現 over --> *@
            </div>




        </div>
        @* <!-- row Over --> *@
    </div>
    @* <!-- container Over --> *@
</div>
@* <!-- SECTION Over --> *@

<!-- 頁碼 -->
<div style="margin-bottom: 250px;" class="PageBottom">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @{
                int? pageCount = Model.FirstOrDefault().pageCount;
                int? Value = Model.FirstOrDefault().nowpage;
            }
            @for (int i = 1; i <= (Model.FirstOrDefault()?.pageCount ?? 0); i++)
            {
                <li class="@(Model.FirstOrDefault().nowpage == i )">
                    @Html.ActionLink(i.ToString(), "List", "Product", new { nowpage = i, pageCount = pageCount }, new { @class = "page-link" })

                </li>

            }
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>





@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        const baseAddress = "https://localhost:5000"



        function CreateCart(productId) {
            //alert("商品ID：" + productId);
            event.preventDefault();
            let id = productId;
            var inputId = "PQty" + id;
            var qty = document.getElementById(inputId).value;
            console.log("商品ID：" + productId + "\n商品数量：" + qty);
            //let qty = document.getElementById("PQty").value;
            //console.log(qty);
            let memberId = 1; // 假設有一個元素的 ID 為 MemberId，儲存了會員的 ID
            var PCarts = {
                productId: id,
                txtCount: qty,
                memberId: memberId  // 傳遞會員的 ID
            };
            console.log(JSON.stringify(PCarts));

            //$.ajax({

            //    type: "POST",
            //    url: `${baseAddress}/api/CartsAPI/ListCreate`,
            //    data: JSON.stringify(PCarts),
            //    contentType: "application/json"
            //}).done(data => {
            //    alert("新增成功");
            //}).fail(err => {
            //    alert(/*err.statusText*/ "新增失敗");
            //});
        };




        $(document).ready(function () {
            // 選擇增減按鈕和數量輸入框元素
            var qtyUp = $(".qty-up");
            var qtyDown = $(".qty-down");
            var quantityInput = $(".input-number");

            // 設置增加數量的事件
            qtyUp.click(function () {
                var currentValue = parseInt(quantityInput.val());
                quantityInput.val(currentValue + 1);
            });

            // 設置減少數量的事件
            qtyDown.click(function () {
                var currentValue = parseInt(quantityInput.val());
                if (currentValue > 1) {
                    quantityInput.val(currentValue - 1);
                }
            });
        });


        // 產品類別顯示
        $(document).ready(function () {
            // 綁定點擊事件
            $(".category-link").click(function () {
                var selectedCategory = $(this).data("category");

                // 顯示所有商品項目
                if (selectedCategory === "All") {
                    $(".thumbnail").show();
                } else {
                    // 隱藏不符合類別的商品項目
                    $(".thumbnail").hide();
                    $(".thumbnail[data-category='" + selectedCategory + "']").show();
                }
            });
        });

        // 喜好商品清單
        $(document).ready(function () {
            $(".add-to-wishlist").click(function () {
                var productId = $(this).data("product-id");
                var productName = $(this).data("product-name");
                var productImg = $(this).data("product-img");
                var productPrice = $(this).data("product-price");

                // 將產品信息傳遞給List方法
                $.ajax({
                    url: "@Url.Action("List", "Product")",
                    data: {
                        likedProductId: productId,
                        likedProductName: productName,
                        likedProductImg: productImg,
                        likedProductPrice: productPrice
                    },
                    type: "GET",
                    success: function (data) {
                        // 在此處處理成功後的操作
                    },
                    error: function () {
                        // 在此處處理錯誤情況
                    }
                });
            });
        });

    </script>


}