@section Styles
{
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap">
    <link href="~/css/accountStyle.css" rel="stylesheet">
}
@{
    ViewData["Title"] = "Login";
}
    <div class="background"></div>
    <article>
        <div class="main container">
            <div class="row login-section">
                <div class="form-box login col-md-12">
                @using (Html.BeginForm()){
                    @Html.AntiForgeryToken()
                        <h2>Sign In</h2>
                        <h5>會員登入</h5>
                        <div class="create-account">
                            <p>
                                還沒有帳號?
                            @*@Html.ActionLink("進行會員註冊", "#",new { htmlAttributes = new { @class = "register-link" } })*@
                                <a href="#" class="register-link">進行會員註冊</a>
                            </p>
                        </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-box">
                        <span class="icon bx bxs-envelope"><i class="bx bxs-envelope"></i></span>
                        @Html.TextBox("txtAccount", null, new { htmlAttributes = new { @class = "form-control" } })
                            <label>帳號</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class="bx bxs-lock-alt"></i></span>
                        @Html.TextBox("txtPassword", null, new { htmlAttributes = new { @class = "form-control" } })
                            <label>密碼</label>
                        </div>
                        <div class="remember-password">
                            <label for="checkbox"><input type="checkbox" id="checkbox" class="remeber_account" />記住帳號</label>
                            <a href="#" class="forget_password">忘記密碼</a>
                        </div>
                    <input type="submit" value="登入" class="btn btn-default" />
                        <div class="other-login">
                            <div class="divider">
                                <span class="line"></span>
                                <span class="divider-text">其他登入方式</span>
                                <span class="line"></span>
                            </div>
                            <div class="other-login-wrapper">
                                <div class="other-login-item">
                                    <img src="~/images/Google.svg" alt="google">
                                </div>
                                <div class="other-login-item">
                                <img src="~/images/Facebook.svg" alt="facebook">
                                </div>
                                <div class="other-login-item">
                                <img src="~/images/LINE.png" alt="line">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-box register col-md-12 ">
                    @using (Html.BeginForm()){
                    @Html.AntiForgeryToken()
                        <h2>Sign Up</h2>
                        <h5>會員註冊</h5>
                        <div class="create-account">
                            <p>
                                已經有帳號?
                            @*@Html.ActionLink("進入會員登入", "#",new { htmlAttributes = new { @class = "login-link" } })*@
                                <a href="#" class="login-link">進入會員登入</a>
                            </p>
                        </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="input-box">
                            <span class="icon"><i class="bx bxs-user"></i></span>
                        @Html.TextBox("txtAccount", null, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input type="text" required />*@
                            <label>帳號</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class="bx bxs-lock-alt"></i></span>
                        @Html.TextBox("txtPassword", null, new { htmlAttributes = new { @class = "form-control" } })

                            @*<input type="password" required />*@
                            <label>密碼</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class="bx bxs-lock-alt"></i></span>
                        @Html.TextBox("txtPasswordChk", null, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input type="password" required />*@
                            <label>確認密碼</label>
                        </div>
                        <button class="btn">註冊</button>
                        <div class="other-login">
                            <div class="divider">
                                <span class="line"></span>
                                <span class="divider-text">其他註冊方式</span>
                                <span class="line"></span>
                            </div>
                            <div class="other-login-wrapper">
                                <div class="other-login-item">
                                <img src="~/images/Google.svg" alt="google">
                                </div>
                                <div class="other-login-item">
                                <img src="~/images/Facebook.svg" alt="facebook">
                                </div>
                                <div class="other-login-item">
                                <img src="~/images/LINE.png" alt="line">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article>
    <!-- SIGN UP FORM CREATION -->
    @section Scripts
    {
        <script src="~/js/login.js"></script>
    }