<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
@{
    Layout = null;
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins",sans-serif;
    }

    .background {
        /* 最下層背景 */
        background: url(../images/login.jpg) no-repeat;
        /* background-color: #98979783; */
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        filter: blur(2px);
    }

    .main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 700px;
        background: url(../images/login.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        overflow: hidden;
    }


        /*中間白色透明背景*/
        .main .profile-section {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            width: 500px;
            height: 100%;
            color: #fff;
            background-color: rgba(88, 85, 85, 0.2);
            /* backdrop-filter: blur(4px); */
        }

        .profile-section .form-box {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .profile-section .form-box h2 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }

    .form-box .form-group {
        width: 400px;
        height: 50px;
        border-bottom: 2px solid#fff;
        margin: 30px 0;
        position: relative;
    }

    .form-group .user_input {
        height: 100%;
        color: #fff;
        background: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        width: 350px;
        padding-left: 80px;
        text-transform: none;
    }


    .form-group .memberBirth {
        height: 65%;
        /* padding: 10px; */
        border: 1px solid lightgray;
        outline: none;
        font-size: 18px;
        position: absolute;
        transform: translateY(-30%);
        margin-left: 100px;
        background: rgba(0,0,0,0.4);
        text-align: center;
        color: white;
        border-radius: 6px;
    }

    .form-group .form-select {
        height: 80%;
        color: white;
        text-align: center;
        background: rgba(0,0,0,0.4);
        /* background: #ffffff5f; */
        /* outline: none; */
        padding: 5px;
        font-size: 18px;
        padding-right: 20px;
        margin-left: 100px;
        border-radius: 6px;
    }

    .form-group label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-30%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s ease;
    }

    .form-group i {
        position: absolute;
        top: 13px;
        right: 0;
        font-size: 19px;
    }
    /*文字向上漂浮*/
    .form-group input:focus ~ label {
        top: -5px;
    }

    .form-group select:focus ~ label {
        top: -5px;
    }

    .btn {
        /* background: #fff; */
        width: 100%;
        height: 45px;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background: #4F9D9D;
        font-size: 16px;
        color: #fff;
        box-shadow: rgba(0,0,0,0.4);
    }

        .btn:hover {
            background-color: #D1E9E9;
            color: black;
        }

    .validation-error-message {
        color: red;
        font-size: 14px;
        margin-left: 80px;
        /*margin-left: 290px;*/
    }

</style>

@using System.ComponentModel.DataAnnotations
@model ChilLaxFrontEnd.ViewModels.LoginViewModel

<!-- LOGIN FORM CREATION -->
<div class="background"></div>
<article>
    <div class="main container">
        <div class="row profile-section">
            <div class="form-box login col-md-12">
                @using (Html.BeginForm("ProcessGoogleLogin", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h2>填寫基本資料</h2>
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fas fa-user"></i>
                            @*<input type="text" id="f-name" class="user_input" v-model="memberName"  required>*@
                            @Html.TextBox("memberName",null, new { @class = "user_input",autocomplete = "off",id="memberName" })
                            @Html.ValidationMessageFor(model => model.memberName,null,new { @class = "validation-error-message" })
                            <label>姓名</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fa-solid fa-phone"></i>
                            @*<input type="tel" id="phone_number" v-model="memberPhone" class="user_input" required>*@
                            @Html.TextBox("memberPhone", null,new { type = "tel", @class = "user_input",autocomplete = "off",id="memberPhone" } )
                            @Html.ValidationMessageFor(model => model.memberPhone,null,new { @class = "validation-error-message" })
                            <label>手機號碼</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fa-solid fa-envelope"></i>
                            @*<input type="email" id="email" v-model="memberEmail" class="user_input" required>*@
                            @Html.TextBox("memberEmail",null, new { type="email",@class = "user_input",autocomplete = "off",id="memberEmail" })
                            @Html.ValidationMessageFor(model => model.memberEmail,null,new { @class = "validation-error-message" })
                            <label>信箱</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fa-solid fa-cake-candles"></i>
                            @*<input type="date" id="birth_date" v-model="memberBirth" placeholder=" " required>*@
                            @*@Html.TextBox("memberBirth", new { htmlAttributes = new { type = "date",@class = "memberBirth", required = "required" } })*@
                            @Html.TextBox("memberBirth", null, new { type = "date", @class = "memberBirth",id="memberBirth"})<br />
                            <label>生日</label>
                            @Html.ValidationMessageFor(model => model.memberBirth,null,new { @class = "validation-error-message" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fa-solid fa-children"></i>
                            
                            @Html.DropDownList("memberGender", new SelectList(new[]
                        {
                        new { Text = "男", Value = "0" },
                        new { Text = "女", Value = "1" }
                            }, "Value", "Text"), "-- 請選擇 --", new { @class = "form-select",id="memberGender"})

                            <label>性別</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="inner-input">
                            <i class="fa-solid fa-map-location-dot"></i>
                            @*<input type="text" id="address" v-model="memberAddress" class="user_input" required>*@
                            @Html.TextBox("memberAddress",null, new { @class = "user_input",autocomplete = "off",id="memberAddress"})

                            <label>通訊地址</label>
                        </div>
                    </div>
                    <button class="btn" id="registerBtn">下一步</button>
                }
            </div>
        </div>
    </div>
</article>
@*<script>
    function postMember() {
        let memberName = $('#memberName').val();
        let memberPhone = $('#memberPhone').val();
        let memberEmail = $('#memberEmail').val();
        let memberBirth = $('#memberBirth').val();
        let memberGender = $('#memberGender').val();
        let memberAddress = $('#memberAddress').val();


        let member = {
            memberName: memberName,
            memberPhone: memberPhone,
            memberEmail: memberEmail,
            memberBirth: memberBirth,
            memberGender: memberGender,
            memberAddress: memberAddress,
            
        };

    $.ajax({
        type: 'POST',
            url: '/LoginController/ValidGoogleLogin',
            data: JSON.stringify(member),
            contentType: 'application/json'
    })
    .done(data => {
        alert(JSON.stringify(data));
    })
    .fail(err => {
        alert(err.statusText);
    });
}
</script>*@